.sams-select-group{

margin-bottom:22px;

}

.sams-select-label{

display:block;

margin-bottom:10px;

font-size:14px;

color:#d8d8d8;

}

.sams-select-label span{

color:#d6b25d;

margin-left:4px;

}

.sams-select{

width:100%;

height:58px;

padding:0 18px;

border-radius:16px;

border:1px solid rgba(255,255,255,.08);

background:#111614;

color:white;

font-size:15px;

outline:none;

cursor:pointer;

transition:.30s;

appearance:none;

}

.sams-select:focus{

border-color:#d6b25d;

box-shadow:

0 0 0 3px rgba(214,178,93,.12);

}

.sams-select option{

background:#111614;

color:white;

}