.topbar{

    height:64px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 28px;

    border-bottom:1px solid #e5e7eb;

}

.topbar-left{

    flex:1;

}

.search-box{

    width:420px;

    height:40px;

    background:#f8fafc;

    border-radius:14px;

    display:flex;

    align-items:center;

    padding:0 18px;

    gap:12px;

}

.search-box input{

    flex:1;

    border:none;

    background:none;

    outline:none;

    font-size:15px;

}

.search-box kbd{

    background:white;

    border-radius:6px;

    padding:4px 8px;

    border:1px solid #e5e7eb;

    font-size:12px;

}

.topbar-right{

    display:flex;

    align-items:center;

    gap:16px;

}

.icon-btn{

    width:40px;

    height:40px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    background:#f8fafc;

    transition:.25s;

    font-size:18px;

}

.icon-btn:hover{

    background:#16a34a;

    color:white;

}

.profile-box{

    display:flex;

    align-items:center;

    gap:12px;

}

.profile-avatar{

    width:38px;

    height:38px;
    font-size:16px;

    border-radius:50%;

    background:#22c55e;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:700;

}

.profile-box h4{

    margin:0;

}

.profile-box small{

    color:#64748b;

}

@media (max-width:768px){

.sidebar{

width:75px;
min-width:75px;

}

.sidebar-logo p,
.sidebar-user div,
.menu-item span:last-child,
.sidebar-footer small{

display:none;

}

.logo-circle{

margin:auto;

}

.search-box{

width:100%;

}

}