.dashboard-grid{

display:flex;

flex-direction:column;

gap:24px;

}

.dashboard-two-column{

display:grid;

grid-template-columns:2fr 1fr;

gap:24px;

}

@media(max-width:992px){

.dashboard-two-column{

grid-template-columns:1fr;

}

}